.agentBox {
  position: relative;
  padding: 10px;
  overflow: auto;
  height: 100%;
  box-sizing: border-box;
  flex: 1;
}

.agentBox::-webkit-scrollbar {
  display: none;
}

.agentBox .agentListBox,
.agentBox .agentBoxAdd {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: left;
  line-height: 24px;
  font-size: 16px;
  border-radius: 4px;
  margin: 10px 0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  cursor: pointer;
}

.closeIcon,
.copyIcon,
.editIcon {
  position: absolute;
  right: 20px;
  top: 14px;
}

.copyIcon {
  right: 100px;
}

.agentListBox:hover .copyIcon {
  display: unset;
}

.editIcon {
  right: 60px;
}

.agentListBox .TextArea {
  height: 240px;
  margin-top: 10px;
}

.closeIcon::after,
.copyIcon::after,
.editIcon::after {
  content: '';
  width: 25px;
  height: 25px;
  border: 1px solid #ccc;
  border-radius: 5px;
  position: absolute;
  top: -4px;
  left: -4px;
}

.checkbox_tool {
  margin-right: 10px !important;
}

.agentTitleBoxName {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.agentRequestData {
  transition: all 0.8s;
  width: 100%;
  overflow: hidden;
}

.agentShowReqData {
  max-height: 300px;

}

.hiddenlAgentReqData {
  max-height: 0;
  overflow: hidden;
}

.agentStatus {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.agentBox .input {
  width: auto;
  height: 33px;
  box-sizing: border-box;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin: 5px 0;
}

.agentBox .input:focus {
  outline: none;
}

.agentTitles {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  max-width: 500px;
}

.agentBox .agentBoxAdd{
  flex-direction: row;
  align-items: center;
}

.agentBox .agentBoxAdd .input{
  margin-right: 10px;
}